.App {
  width: 75%;
  max-width: 800px;
  margin: 0px auto;
  border-left: 1px solid #303033;
  border-right: 1px solid #303033;
  border-width: thin;
  box-sizing: border-box;
  background: url("../assets/blur.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  .App {
    width: 100%;
  }
}